body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart-container {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}

.line-chart {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom:75px;
  padding-left: 50px;
  width: 85vw;
}

/* .donut-chart canvas {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  outline: red solid 3px;
} */

